/* Test comment */

body {
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 20px;
}

header {
    background-color: rgb(233, 63, 12);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1,
h2 {
    font-family: 'Zhi Mang Xing', cursive;
}

header h1 {
    color: whitesmoke;
    font-size: 50px;
}

header img {
    border-radius: 170px;
    width: 300px;
    border: 20px solid rgb(33, 14, 202);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
}

main img {
    max-width: 30%;
}

h2 {
    font-size: 35px;
    color: tomato;
    margin: 40px 0 10px
}

a {
    color: rgb(218, 24, 192);
}

a:hover {
    color: blueviolet;
    background-color: chartreuse;
}

footer {
    background-color: rgb(233, 63, 12);
    text-align: center;
    color: cornsilk;
    padding: 50px;
    margin: 0;
}

footer a {
    color: darkblue;
}

footer a:hover {
    opacity: 0.5;
    background-color: darkgoldenrod;
}

.caption {
    color: darkgreen;
    font-style: italic;
    margin-top: 0;
}